.clock {
  width: 500px;
  height: 500px;

  border-radius: 100%;
  border: solid 10px grey;
}

.clock-handles-container {
  transform: translate(250px, 240px);
}

.clock-center-point {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: black;
  transform: translate(calc(250px - 10px), calc(250px - 15px));
  position: absolute;
}

.handle {
  height: 10px;
  transform-origin: left;
  position: absolute;
}

#seconds-handle {
  width: 220px;
  background-color: #b7b7b7;
}
#minutes-handle {
  width: 200px;
  background-color: #616161;
}
#hours-handle {
  width: 120px;
  background-color: black;
}
